* {
  margin: 0;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -130px;
}
html, body {
  height: 100%;
}
body {
  color: #6d689b;
  background-color: #111111;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}
header {
  font-size: 80px;
  line-height: 150px;
}
.icons {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-color: #6d689b;
  opacity: .1;
}
.icons:hover {
  opacity: 1;
}
.soundcloud {
  -webkit-mask-image: url(img/soundcloud.svg);
}
.twitter {
  -webkit-mask-image: url(img/twitter.svg);
}
.youtube {
  -webkit-mask-image: url(img/youtube.svg);
}
.github {
  -webkit-mask-image: url(img/github.svg);
}
.steam {
  -webkit-mask-image: url(img/steam.svg);
}
.mail {
  -webkit-mask-image: url(img/mail.svg);
}
a {
  color: #6d689b;
  text-decoration: none;
}
li {
  list-style: none;
  display: inline;
  margin: 20px;
}
ul {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 16px;
  font-weight: normal;
}
header, footer {
  text-align: center;
}
footer {
  font-size: 20px;
}
.post img {
  opacity: 1;
  width: 70%
}
.post img:hover {
  opacity: 1;
}
footer {
  opacity: 1;
}
footer:hover {
  opacity: 1;
}
time {
  display: block;
  text-align: right;
  font-size: 12px;
  padding: 5px 0;
}
.post {
  margin: 0 auto 0 auto;
  padding: 30px 0 180px 0;
  width: 500px;
  text-align: center;
}
