body {
  color: #999999;
  background-color: #222222;
  font-family: sans-serif;
}

a {
  color: #0066FF;
  text-decoration: none;
}

li {
  list-style: none;
  display: inline;
  margin: 20px;
}

ul {
  margin: 0px;
  padding: 0px;
}

footer {
  text-align: center;
}

h1 {
  font-size: 100px;
  text-align: center;
}