#mapinfotable {
  border: 1px solid;
  display:inline-block;
  float: left;
  margin: 0px 10px 0px 0px;
}
#mapinfo {
  width: 700px;
  margin: 0 auto;
}
#stageinfo {
  border: 1px solid;
  width: 800px;
}
#stageinfo caption {
  font-size: 26px;
  padding: 10px;
}
.content {
  width: 800px;
  margin: 0 auto;
}
.mapimage {
  width: 350px;
  height: 200px;
  border: 1px solid;

}